.header__title {
  text-align: center;
  font-size: 18px;
  color: #d22856;
}

.main {
  width: $md;
  min-height: 950px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.form__main-data {
  border: none;
}

.form__main-item {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
}

.form__text {
  font-size: 12px;
  color: #d53661;
  text-transform: uppercase;
}

.form__input {
  font-size: 14px;
  border: 2px solid #e5e5e5;
  color: #283645;
  margin-left: 20px;
  padding: 15px 0 15px 15px;
  width: 70%;

  &:hover {
  border: 2px solid #283645;
  }

  &:focus {
  border-color: #d22856;
  outline: none;
  }
}

.form__adress-data {
  position: relative;
  width: 700px;
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #e5e5e5;
  padding: 20px 25px 20px 20px;
  margin: 20px auto 0 auto;
}

.form__adress-title {
  padding: 0 40px;
}

.form__submit {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form__button {
  width: 300px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 280px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2aab6d;
  border: none;
  border-radius: 3px;

  &:hover {
    background-color: #1c9b5e;
    cursor: pointer;
  }

  &:active {
    color: #61b98f;
  }
}

.form__button--disabled {
  background-color: #e9ebec;

  &:hover {
    background-color: #e9ebec;
    cursor: default;
  }

  &:active {
    color: #ffffff;
  }
}

.form__required-fields {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #283645;
}


.form__date-birth {
  width: 700px;
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #e5e5e5;
  padding: 10px 25px 20px 20px;
  margin: 0px auto 40px auto;
}

.form__birth-title {
  padding: 0 40px;
}

.form__birth-list {
  padding-left: 0px;
}

.form__birth-item {
  position: relative;
  margin-left: 20px;
  margin-top: 25px;
}

.error {
  position: absolute;
  left: 20%;
  color: red;
}
